@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-light: #f2f6fb;
  --color-dark: #0A192F;

  --color-cyan-main: #0d9488;
  --color-cyan-dark: #0f766e;
  --color-cyan-light: #2dd4bf;
  --color-cyan-bright: #64ffda;

  --color-bg: var(--color-light);
  --color-surface: #ffffff;
  --color-text-main: var(--color-dark);
  --color-text-muted: #4a5568;

  /* Light Mode Actions */
  --color-accent: var(--color-cyan-main);
  --color-accent-light: var(--color-cyan-bright);
  --color-accent-hover: var(--color-cyan-dark);
  --color-btn-text: #ffffff;

  --color-border-main: #e2e8f0;
  --color-link: var(--color-cyan-main);
  --color-link-hover: var(--color-cyan-dark);

  /* Typography */
  --font-sans: "Readex Pro", ui-sans-serif, system-ui, sans-serif;
  --font-heading: "NTR", sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, monospace;
}

@layer theme {
  .dark {

    --color-bg: var(--color-dark);
    --color-surface: #112240;
    --color-text-main: var(--color-light);
    --color-text-muted: #8892b0;

    /* Dark Mode Actions */
    --color-accent: var(--color-cyan-light);
    --color-accent-hover: var(--color-cyan-bright);

    --color-btn-text: var(--color-dark);

    --color-border-main: #233554;
    --color-link: var(--color-cyan-bright);
    --color-link-hover: #ffffff;
  }
}

@layer base {
  body {
    @apply bg-bg text-text-main font-sans antialiased;
  }

  ::selection {
    @apply bg-cyan-light/30 text-text-main;
  }

  /* Smooth scrolling globally */
  html {
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}
