@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-light: #f8f9fa;
  --color-dark: #121212;

    /* Cyan Accents */
    --color-cyan-main: #3bbe13; /* Your exact core primary brand color */
    --color-cyan-dark: #1e7007; /* Deeper green for smooth gradients/borders */
    --color-cyan-light: #52fa1b; /* Brighter, electric neon green for dark mode links & hovers */

  /* Light Mode Structural Mapping */
  --color-bg: var(--color-light);
  --color-surface: #ffffff;
  --color-text-main: var(--color-dark);
  --color-text-muted: #555555; /* Safely defined hex for contrast */

  /* Light Mode Action Mapping */
  --color-accent: var(--color-cyan-main);
  --color-accent-hover: var(--color-cyan-dark);
  --color-btn-text: #ffffff;

  --color-border-main: #e2e8f0;
  --color-link: var(--color-cyan-main);
  --color-link-hover: var(--color-cyan-dark);

  /* Typography */
  --font-sans: "Readex Pro", ui-sans-serif, system-ui, sans-serif;
  --font-heading: "Plus Jakarta Sans", sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, monospace;
}

@layer theme {
  .dark {
    /* Dark Mode Structural Mapping */
    --color-bg: var(--color-dark);
    --color-surface: #1e1e1e;
    --color-text-main: var(--color-light);
    --color-text-muted: #aaaaaa;

    --color-accent: var(--color-cyan-main);
    --color-accent-hover: var(--color-cyan-light);

    --color-border-main: #2a2a2a;
    --color-link: var(--color-cyan-light);
    --color-link-hover: #ffffff;
  }
}

@layer base {
  body {
    @apply bg-bg text-text-main font-sans;
  }

  ::selection {
    @apply bg-cyan-main/30 text-text-main;
  }

  ::-webkit-scrollbar {
    display: none;
  }
  html {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
